.About {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  background: radial-gradient(circle, rgba(0,0,0,0.8), rgba(0,0,0,1));
}

.About-card {
  width: 80%;
  max-width: 800px;
  padding: 2.5rem;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  animation: fadeInUp 1s ease-out;
  margin-top: 100px;
}

.About-card-title {
  font-size: 2.4rem;
  font-family: 'Azonix', sans-serif;
  color: #ffcc00;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.About-card-text {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
  color: rgba(224, 224, 224, 0.9);
  margin-bottom: 1.5rem;
  text-align: justify;
  animation: fadeInUp 1.5s ease-out;
}

.About-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(255, 204, 0, 0.5);
}

@keyframes fadeInUp {
  from {
    transform: translateY(30%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .About {
    height: auto;
    padding: 1rem;
  }

  .About-card {
    width: 90%;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    margin-top: 70px;
  }

  .About-card-title {
    font-size: 2rem;
  }

  .About-card-text {
    font-size: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .About-card {
    width: 85%;
    padding: 2rem;
    margin-top: 90px;
  }

  .About-card-title {
    font-size: 2.2rem;
  }

  .About-card-text {
    font-size: 1.1rem;
  }
}
