.contact-card-container { 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding: 400px 20px 20px; 
    margin: 0;
    position:relative;
}

.contact-card {
    margin-top: 100px; 
    margin-bottom: 20%;
    background: rgba(255, 255, 255, 0);
    border-radius: 50%; /* Hacer que la tarjeta sea redonda */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.5s ease;
    backdrop-filter: blur(5px);
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    width: 20vw; /* Usar un ancho basado en el viewport */
    height: 20vw; /* Usar una altura basada en el viewport */
    max-width: 250px; /* Establecer un ancho máximo */
    max-height: 250px; /* Establecer una altura máxima */
}

#whatsapp-card, #facebook-card, #instagram-card, #email-card {
    background-image: url('../assets/sellotransparente.png');
    background-size: cover;
    background-position: center;
}

.contact-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.contact-card .card-title {
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: 600;
}

.contact-card .card-description {
    font-size: 14px;
    margin: 0;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.85);
}

.contact-card a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    background-color: rgba(37, 211, 102, 0.9);
    padding: 8px 15px;
    border-radius: 20px;
    transition: background 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 12px rgba(37, 211, 102, 0.3);
}

.contact-card a:hover {
    background-color: rgba(25, 180, 85, 0.9);
    transform: scale(1.05);
}

@media (max-width: 1024px) {
    .contact-card {
        width: 25vw; /* Ajustar el ancho para pantallas más pequeñas */
        height: 25vw; /* Ajustar la altura para pantallas más pequeñas */
    }
}

@media (max-width: 768px) {
    .contact-card-container {
        flex-direction: column;
        align-items: center;
    }
  
    .contact-card {
        width: 30vw; /* Ajustar el ancho para tabletas */
        height: 30vw; /* Ajustar la altura para tabletas */
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .contact-card {
        width: 40vw; /* Ajustar el ancho para pantallas pequeñas */
        height: 40vw; /* Ajustar la altura para pantallas pequeñas */
    }
}

.contact-card.show {
    opacity: 1;
    transform: translateY(0);
}
