.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  padding: 1rem -2rem;
  display: flex;
  justify-content:space-between; /* Alinea los elementos principales a los extremos */
  align-items:center; /* Alinea verticalmente */
  flex-wrap:wrap;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 1000;
}

.hidden {
  transform: translateY(100%);
  opacity: 0;
}

.visible {
  transform: translateY(0);
  opacity: 1;
}

.Footer-logo {
  display: flex;
  align-items: center;
}

.Footer-logo img {
  height: 60px;
  width: auto;
}

.Footer-info {
  display:contents;
  flex-direction:column-reverse;
  justify-content: center;
  text-align: left;
  margin-left: 1rem;
}

.Footer-contact p {
  margin: .8rem 0;
  font-size: 1rem;
}

.Footer-social {
  display: flex;
  gap: 3.5rem;
}

.Footer-social a {
  font-size: 1.8rem;
  color: rgb(181, 181, 181);
  transition: color 0.3s ease;
}

.Footer-social a:hover {
  color: white;
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
  .Footer {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  .Footer-logo {
    margin-bottom: 1rem;
  }

  .Footer-info {
    margin-bottom: 1rem;
    text-align: center;
  }

  .Footer-social {
    justify-content:space-between;
  }
}

@media (max-width: 480px) {
  .Footer-contact p {
    font-size: 0.8rem;
  }

  .Footer-social a {
    font-size: 1.2rem;
  }
}
