@font-face {
  font-family: 'Azonix';
  src: url('../fonts/azonix/Azonix.otf') format('truetype');
}

.Footer {
  background-color: rgba(51, 51, 51, 0.8); /* Fondo oscuro con opacidad */
  color: white;
  padding: 0.5rem 1rem; /* Padding reducido */
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alinea todo el contenido hacia la derecha */
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  backdrop-filter: blur(5px); /* Efecto de desenfoque reducido */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
  font-family: 'Azonix', sans-serif; /* Cambiado a Azonix */
}

.Footer-logo {
  display: flex;
  align-items: center;
  margin-right: auto; /* Empuja el logo hacia la izquierda */
}

.Footer-logo img {
  height: 50px; /* Tamaño del logo */
}

.Footer-info {
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  margin-left: 1rem; /* Espacio a la izquierda del logo */
}

.Footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente el contenido */
}

.Footer-contact p {
  margin: 0.3rem 0; /* Espacio reducido entre los párrafos */
  font-size: 0.9rem; /* Tamaño de fuente ajustado */
  color: #e0e0e0; /* Color del texto */
}

.Footer-contact i {
  margin-right: 1.5rem; /* Espacio entre el ícono y el texto */
}

.Footer-social {
  display: flex;
  align-items: center;
  gap: 2.8rem; /* Espacio reducido entre los íconos sociales */
}

.Footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px; /* Tamaño de los íconos */
  height: 25px;
  color: rgb(181, 181, 181); /* Color de los íconos */
  font-size: 1.5rem; /* Tamaño del ícono */
  transition: color 0.3s ease; /* Transición suave para el color */
}

.Footer-social a:hover {
  color: #ffffff; /* Color de los íconos al pasar el cursor */
}
