@font-face {
  font-family: 'Azonix';
  src: url('../fonts/azonix/Azonix.woff2') format('woff2'),
       url('../fonts/azonix/Azonix.woff') format('woff'),
       url('../fonts/azonix/Azonix.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Barra de navegación */
.Navbar {
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  padding: 0.5rem 1.5rem; 
  font-family: 'Azonix', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.Navbar.transparent {
  background-color: rgba(0, 0, 0, 0.0);
}

.Navbar.dark {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .Navbar {
    padding: 0.3rem 1rem;
  }
}

.Navbar-brand {
  display: flex;
  align-items: center;
}

.Navbar-logo-img {
  height: 45px;
  width: auto;
}

.Navbar-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Navbar-menu .nav-link {
  font-family: 'Azonix', sans-serif;
  color: #a9a9a9;
  font-size: 0.9rem; /* Tamaño de fuente reducido */
  padding: 0.5rem 0.75rem;
  transition: color 0.3s ease;
  border-radius: 8px;
}

.Navbar-menu .nav-link:hover {
  color: #e2e0e0;
  background-color: rgba(0, 0, 0, 0.2);
}

body {
  margin-top: 70px; 
}

@media (max-width: 576px) {
  .Navbar-menu {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .Navbar-menu .nav-link {
    padding: 0.75rem 1rem;
    font-size: 0.85rem;
  }
}

.Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  min-height: 100vh;
  padding-top: 70px;
  overflow-y: auto; 
}

.Contact-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem; 
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
}

.Contact-card {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.Contact-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

@media (max-width: 576px) {
  .Contact-cards {
    display: block; 
    padding: 0 1rem;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    display: flex;
    flex-wrap: nowrap; 
  }

  .Contact-card {
    flex: 0 0 80%; 
    scroll-snap-align: center; 
    margin-bottom: 1.5rem; 
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
