/* Estilos globales */
html, body {
  height: 100%;
  margin: 0; /* Ajusta el margen para que no haya espacio en blanco */
}

/* Estilo para la aplicación */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Ajustes para el contenido principal */
main {
  flex: 1;
  padding-top: 60px; /* Ajusta el padding para que no se solape con la barra de navegación */
  padding-bottom: 60px;
}

/* Barra de navegación responsiva */
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.Navbar-logo a,
.Navbar-menu a {
  color: white;
  text-decoration: none;
}

/* Estilos para el menú de navegación */
.Navbar-menu {
  display: flex;
  gap: 1rem;
}

/* Ajustes para el menú de navegación en pantallas pequeñas */
@media (max-width: 768px) {
  .Navbar {
    flex-direction: column;
    padding: 0.5rem;
  }

  .Navbar-menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }

  .Navbar-menu a {
    padding: 0.75rem;
    text-align: center;
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .Navbar {
    padding: 0.5rem;
  }

  .Navbar-menu a {
    padding: 0.75rem;
    font-size: 1.2rem;
  }
}
