@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@font-face {
  font-family: 'Orbitron'; /* Cambié el nombre de la fuente aquí */
  src: url('https://fonts.googleapis.com/css2?family=Orbitron:wght@300;400;600&display=swap') format('woff2'); /* Ajusta el formato si es necesario */
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes cardSlideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background: url('./assets/fondo.png') no-repeat center center fixed;
  background-size: cover;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

/* Ajusta el contenido principal */
.App {
  flex: 1;
  margin: 0 auto;
  text-align: center;
  font-size: clamp(24px, 4vw + 1rem, 48px);
  padding: 2rem;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  body {
    background-position: center center;
    background-size: cover; /* Asegura que la imagen de fondo cubra la pantalla */
  }

  h1 {
    font-size: 3rem; 
  }

  h2, h3 {
    font-size: 1.5rem; 
  }

  .App {
    padding: 1.5rem; /* Reduce el padding para pantallas medianas */
  }
}

/* Ajustes para teléfonos */
@media (max-width: 480px) {
  body {
    background-attachment: scroll; 
    background-size: 150%; /* Aumenta el tamaño del fondo para mejorar la visibilidad */
  }

  h1 {
    font-size: 2.5rem; 
  }

  h2 {
    font-size: 1.2rem; 
  }

  h3 {
    font-size: 1rem; 
  }

  .App {
    padding: 1rem; 
  }
}
